body, html {
  height: 100%;
  margin: 0;
}

.container__center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.container__content {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px; /* Ajuste conforme necessário */
  width: 100%;
}

.content__cover {
  width: 100%;
  height: 350px;
  text-align: center;
  margin-bottom: 20px; /* Ajuste para espaço entre a imagem e o título/descrição */
}

.content__cover img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Adiciona borda arredondada à imagem */
}

.content__title {
  text-align: center;
  margin-bottom: 15px;
}

hr {
  width: 50px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.content__description {
  text-align: justify;
  text-align-last: left;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.back {
  padding-top: 10px;
  text-align: center;
}
