<div class="container__menu-bar">
  <div class="menu-item">
    <a href="https://www.linkedin.com/in/murilo-pacheco-71955420/">
      <i class="fab fa-linkedin"></i>
      Linkedin
    </a>
  </div>
  <div class="menu-item">
    <span>•</span>
  </div>
  <div class="menu-item">
    <a href="https://github.com/murilopacheco">
      <i class="fab fa-github"></i>
      Github
    </a>
  </div>
  <div class="menu-item">
    <span>•</span>
  </div>
  <div class="menu-item">
    <a href="https://www.linkedin.com/in/murilo-pacheco-71955420/">
      <i class="fab fa-youtube"></i>
      Youtube
    </a>
  </div>
</div>
